@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* overflow: hidden; */
 
} 
.container1{
  padding-top: 50px;
   display: flex;
 }
  .box1 {
    align-items: center;
     position:absolute;
     left:50px;
    /* padding-top:25px;*/
    padding:100px;
    /* flex: 1; 
    margin: 20px 30px;  */
    border:.3rem solid #999;
    /* height: 200px;
    float: left;
    width: -4rem;*/
    border-radius: 20px; 
  } 
  /* .box1::before {
    content: "";
    position: absolute;
    margin:10px 20px;
    top: 16rem;
    left: 5rem;
    width: 171.5%; Occupe toute la largeur de .box1 */
    /* height: 5rem; /* Hauteur de la partie colorée en haut */
    /* background-color: chocolate; /* Couleur de la partie colorée */
    /* border-radius: 20px 20px 0 0; /* Coin supérieur arrondi */
    /* z-index: -1;  */
 /* } */
  .box2{
    padding-top:20px;
    padding-left:15px;
    padding-right: 15px;
    margin:10px 5px;
    border:.3rem solid #999;
    height: 50px;
    position: relative;
    margin-left: 5px;
    width: 200px; 
    float: left;
    border-radius: 20px;
  } 
  /* .box2::before {
    content: "";
    position: absolute;
    top: -.2rem;
    left: 0rem;
    width: 100%; /* Occupe toute la largeur de .box1 */
    /* height: 5rem; 
    background-color: chocolate; 
    border-radius: 20px 20px 0 0; 
    z-index: -1;
}  */ 
::selection{
  color: #fff;
  background: #d43f8d;
}
.container{
  width: 100%;
  background: #fff;
  /* text-align: center; */
  border-radius: 5px;
  /* padding: 50px 0px 10px 35px; */
  margin:30 50;
  padding-left: 50px;
  padding-top: 80px;
}
/* .container .header{
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
} */
.container .form-outer{
  width: 100%;
  overflow: hidden;
  padding-left:50px;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #d33f8d;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #000;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color: #d43f8d;
  background: #d43f8d;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}

