<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Multi Step Form | CodingNepal</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    </head>
   <style>

   </style>
   <body>
    <div class="container">
        <h1>zeineb</h1>
        <div class="progress-container">
        <div class="progress" id="progress"></div>
        <div class="circle active"><i class="fas fa-map-marker-alt"></i></div>
        <div class="circle active"><i class="fas fa-map-marker-alt"></i></div>
        <div class="circle active"><i class="fas fa-car"></i></div>
        <div class="circle active"><i class="far fa-file"></i></div>
    </div>
    </div>
    <script>
    </script>
   </body>
</html>