html{
    font-size: 62.5%;
  
    overflow-x: hidden;
  }
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter';
    outline:none;
    border:none;
    text-decoration: none;
  }
  .section{
    padding:3rem 9%;
}
header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    background:white;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo {
    color: #00B074;
    font-family: 'Inter';
    font-size: 40px;   
}
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5 rem;
    color:#2B3940;
    margin-left: 1.5rem;
}
header .conButton{
    height:50px;
    background-color: #00B074;
    margin-left: 1.5rem;
    color: white;
    padding: 1.5rem;
}
header .conButton .i{
    color :white
}

header .navbar a:hover{
    color: #00B074;}

header #toggler{
    display:none;
}
header .fa-bars{
    font-size:3rem;
    color:#333;
    border-radius:.5rem;
    padding:.5rem 1.5rem;
    cursor:pointer; 
    border:.1rem solid rgba(0,0,0,.3);
    display:none;
}
@media(max-width:991px){
    html{
        font-size:55%;
      }
      header{
        padding:2rem;
      }
}
@media(max-width:768px){
     
header.fa-bars{
    display:block;
}
header .navbar{
    position:absolute;
    top:100%;
    left:0;
    right:0;
    background: #eee;
    border-top: .1rem solid rgba(0,0,0,.1);
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
header #toggler:checked~ .navbar{
    clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
}
header .navbar a{
     margin:1.5rem;
     padding:1.5rem;
     background: #fff;
     border: .1rem solid rgba(0,0,0,.1);
     display:block;
}
 
}

@media(max-width:450px){
    html{
        font-size:50%;
      }
      header{
        padding:2rem;
      }
}