
  body{
    position: relative;
    font-family: montserrat;
      max-width: 100%;
      overflow-x: hidden; /* Cela masque la barre de défilement horizontal */
  }
  
  
  
  .container1 {
      position: fixed;
      z-index: 1000;
      display: flex; 
      align-items: center; 
      width: 100%;
    }

  .container {
    margin-top: 68px;
      display: flex; 
      align-items: center; 
    }
  .conButton i {
      margin-left: 10px;
  }
  #check{
    display: none;
  }
  
  
  .img-rect{
    position: relative;
    top: 100px;
    left:30px;
    z-index: 10;
    margin: 30px;
  }
  .h1{
    color: white;
    position: relative;
    top: -200px;
    left:70px;
    z-index: 10;
    margin: 30px;
    font-family: 'Inter';
    font-size: 60px;
    animation: descendre 1.5s ease-in-out;
  }
  .h2{
    color: white;
    position: relative;
    top: -240px;
    left:70px;
    z-index: 10;
    margin: 30px;
    font-family: 'Inter';
    font-size: 60px;
    animation: descendre 1.5s ease-in-out;
  }
  .p{
    color: white;
    position: relative;
    top: -220px;
    left: 100px;
    font-size: 18px;
  }
  .annance-button{
    top: -170px;
    left: 100px;
    position: relative;
      font-weight: 600;
      position: relative;
      background-color: #00B074;
      color: white;
      height: 60px;
      width: 20%;
      border: none;
      font-family: 'Heebo';
      font-size: 16px;
      animation:deplacerDeGaucheALaDroite 1.5s ease-in-out;
  }
  .reserv-button{
    position: relative;
    border: none;
    font-family: 'Heebo';
    font-size: 16px;
    left: 120px;
    top: -170px;
    color: #00B074;
    background-color: white;
    height: 60px;
    width: 20%;
    font-weight: 600;
    cursor: pointer;
    animation: deplacerDeDroiteALaGauche 1.5s ease-in-out;
  }
  .parag{
    position: relative;
    left: 800px;
    animation-delay: 2s;
    opacity:0;
    
    
  }
  .parag.animate2{
    animation: fadeInOut2 4s;
    animation-fill-mode: forwards;
    animation-delay: 6;
  
  }
  @keyframes fadeInOut2 {
      0% {
          opacity: 0;
      }
     
      100% {
          opacity: 1;
      }
  }
  .desc{
    position: relative;
    font-family: 'Inter';
    font-size: 40px;
    color:#2B3940;
    top: -70px;
    left: -70px;
  }
  li{
    position: relative;
    font-family: 'Inter';
    font-size: 20px;
    top: -20px;
    left: -50px;
    color:#2B3940;
    font-weight: normal;
  }
  .lire{
      font-weight: 600;
      position: relative;
      background-color: #00B074;
      color: white;
      height: 60px;
      width: 45%;
      border: none;
      font-family: 'Heebo';
      font-size: 16px;
     
     
  }
  .img-mo-durable{
    height:500px;
     width:650px;
     position: absolute; 
     top: 570px;
     left: 40;
    
  }
  .img-mo-durable.animate {
    animation: fadeInOut ;
    animation-delay: 3;
    animation-duration: 4s;
  }
  
  @keyframes fadeInOut {
      0% {
          opacity: 0;
      }
     
      100% {
          opacity: 1;
      }
  }
  @keyframes descendre {
      0% {
          transform: translateY(-500%);
          opacity: 0;
      }
      50% {
          opacity: 1;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
  
      }
  }
  @keyframes deplacerDeDroiteALaGauche {
      0% {opacity: 0;
          transform: translateX(150%);
      }
      100% {
          transform: translateX(0);
      }
  }
  @keyframes deplacerDeGaucheALaDroite {
      0% {opacity: 0;
          transform: translateX(-150%);
      }
      100% {
          transform: translateX(0);
      }
  }
  .circle{
   margin: 200px 400px 50px;
  }
  .reserv{
   width: 120px;
   height:130px;
   position: relative;
   top:-450px;
   left: 500px;
  }
  .reserv-text{
    font-family: 'Inter';
   font-size: 1.5rem;
   position: absolute;
   top:1085px;
   left: 450px;
  }
  .venir{
    width: 130px;
   height:110px;
   position: relative;
   top: -300px;
   left: 545px;
  }
  .venir-text{
    font-family: 'Inter';
   font-size: 1.5rem;
   position: absolute;
   top:1320px;
   left: 800px;
  }
  .balade{
    width: 110px;
   height:120px;
   position: relative;
   top:-130px;
   left: 245px;
  }
  .balade-text{
    font-family: 'Inter';
   font-size: 1.5rem;
   position: absolute;
   top:1600px;
   left: 360px;
  }
  .recuperer{
    position: relative;
    width: 130px;
    height:110px;
    top:-300px;
    left: -45px;
  }
  .recuperer-text{
    font-family: 'Inter';
   font-size: 1.5rem;
   position: absolute;
   top:1320px;
   left: 50px;
   
  }
  .recuperer-text.animRecText{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .recuperer.animRec{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .venir.animven{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .venir-text.animvenText{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .balade.animbal{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .balade-text.animBalText{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .reserv.animReserv{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  .reserv-text.animResText{
    animation: deplacerDeBatVersLeHaut 2s;
  }
  
  @keyframes deplacerDeBatVersLeHaut {
      0% {opacity: 0;
          transform: translateY(400%);
      }
      100% {
          transform: translateY(0);
      }
  }